.frase{
	font-size: 20px;
	text-align: left;
}

.campo-digitacao{
	font-size: 20px;
	height: 100px;
	border: 3px solid black;
}

.campoDisable{
	background-color: lightgray;
}

.icones{
	vertical-align: middle;
}

.borda-verde{
	border: 3px solid green;
}

.borda-vermelha{
	border: 3px solid red;
}

.placar{
	display: none;
}

#erro{
	display: none;
	color: red;

}
